* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    height: 100vh;
    background-color: rgb(216, 120, 149);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.box input {
    border: 0;
    outline: 0;
}

.eye {
    cursor: pointer;
}

.box .fa-eye-slash {
    display: none;
}

.hide {
    display: none;
}